.flip-card-container {
    display: flex;
    justify-content: center;
}

.flip-card {
    width: 300px;
    height: 500px;
    /* stylistic */
    padding: 5px;
    border: 1px solid #dadada;
    border-radius: 10px;
    /* Adding a drop shadow */
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    /* Duration of the animation */
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* When the card is flipped, this side should not be visible */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* should be absolute to fix to flip-card-inner top left */
    position: absolute;
}

.flip-card-front {
    background-color: rgb(49, 63, 73);
    /* To make the front side same size as the base */
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-card-back {
    background-color: white;
    /* To rotate the card */
    transform: rotateY(180deg);
    /* For the content */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* card on mobile */
.flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}

/* Image sizing */
#front-logo {
    max-width: 60%;
    filter: invert(100%);
}

#back-logo {
    max-width: 80%;
    align-self: center;
}

#profile-pic {
    max-width: 60%;
    border-radius: 50%;
    /* clip-path: circle(75px at center); */
    align-self: center;
}

/* Text */
.flip-card-back h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.flip-card-back p {
    font-size: 1rem;
    font-family: monospace;
    color: rgb(99, 99, 99);
}

.flip-card-back .border {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.flip-card-back a {
    text-decoration: none;
    color: rgb(49, 63, 73);
}

.flip-card-back a:hover {
    font-weight: 700;
    color: rgb(30, 63, 87);
    transition: all 0.5s ease-in-out;
}
